In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import NearestNeighbors
import numpy as np

In [2]:
data = pd.read_csv('alumni_profile_recommendation_data.csv')

# Display the first few rows of the dataset
data.head()

,Name of Student,Graduation Year,Location,University,Department,Degree,Major,Minors,Job Title,Company,Industry,Years of Experience,Technical and Non-technical Skills,Areas of Interest
0,Jessica Taylor,2021,Dallas,Stanford University,Economics,B.Tech,Software Engineering,Philosophy,Business Analyst,Tesla,Education,28,"TensorFlow, Kubernetes, HTML","Data Science, Quantum Computing"
1,Jessica Lewis,2008,Houston,California Institute of Technology,Biology,BBA,Robotics,Philosophy,Consultant,Facebook,Education,13,"JavaScript, Keras, Kubernetes","Business Strategy, Quantum Computing"
2,Michael Lewis,2002,Los Angeles,MIT,Economics,M.Sc,Software Engineering,Sociology,DevOps Engineer,Apple,Retail,15,"Java, HTML, C++","Blockchain, Cybersecurity"
3,John Anderson,2013,San Diego,"University of California, Berkeley",Physics,PhD,Machine Learning,Environmental Science,Marketing Manager,Intel,Consulting,7,"Keras, JavaScript, Docker","Quantum Computing, Cybersecurity"
4,Linda Scott,2016,San Antonio,University of Chicago,Computer Science,B.Sc,Software Engineering,Statistics,Research Scientist,Google,Government,4,"HTML, Kubernetes, React","IoT, Blockchain"

In [3]:
data.shape

(1000, 14)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Name of Student                     1000 non-null   object
 1   Graduation Year                     1000 non-null   int64
 2   Location                            1000 non-null   object
 3   University                          1000 non-null   object
 4   Department                          1000 non-null   object
 5   Degree                              1000 non-null   object
 6   Major                               1000 non-null   object
 7   Minors                              1000 non-null   object
 8   Job Title                           1000 non-null   object
 9   Company                             1000 non-null   object
 10  Industry                            1000 non-null   object
 11  Years of Experience                 1000 non-null   int64
 12  Technical and Non-technical Skills  1000 non-null   object
 13  Areas of Interest                   1000 non-null   object
dtypes: int64(2), object(12)
memory usage: 109.5+ KB

In [9]:
data=data[['Name of Student','Graduation Year','Location','University','Degree','Job Title','Company','Years of Experience','Technical and Non-technical Skills','Areas of Interest']]

In [11]:
data.shape

(1000, 10)

In [13]:
data

,Name of Student,Graduation Year,Location,University,Degree,Job Title,Company,Years of Experience,Technical and Non-technical Skills,Areas of Interest
0,Jessica Taylor,2021,Dallas,Stanford University,B.Tech,Business Analyst,Tesla,28,"TensorFlow, Kubernetes, HTML","Data Science, Quantum Computing"
1,Jessica Lewis,2008,Houston,California Institute of Technology,BBA,Consultant,Facebook,13,"JavaScript, Keras, Kubernetes","Business Strategy, Quantum Computing"
2,Michael Lewis,2002,Los Angeles,MIT,M.Sc,DevOps Engineer,Apple,15,"Java, HTML, C++","Blockchain, Cybersecurity"
3,John Anderson,2013,San Diego,"University of California, Berkeley",PhD,Marketing Manager,Intel,7,"Keras, JavaScript, Docker","Quantum Computing, Cybersecurity"
4,Linda Scott,2016,San Antonio,University of Chicago,B.Sc,Research Scientist,Google,4,"HTML, Kubernetes, React","IoT, Blockchain"
...,...,...,...,...,...,...,...,...,...,...
995,Robert Clark,2024,Chicago,"University of California, Berkeley",B.Tech,Consultant,Amazon,7,"CSS, Docker, AWS","IoT, Data Science"
996,Bob Lewis,2024,San Diego,MIT,M.Tech,Marketing Manager,Adobe,8,"C++, Django, TensorFlow","Business Strategy, Quantum Computing"
997,Bob Scott,2024,San Antonio,Yale University,MBA,Operations Manager,Google,27,"CSS, Python, Kubernetes","ML, Data Science"
998,John Lewis,2001,San Antonio,University of Chicago,M.Sc,Research Scientist,Facebook,17,"Java, HTML, AWS","Blockchain, IoT"
999,Bob Clark,2018,Phoenix,California Institute of Technology,B.Tech,Research Scientist,IBM,2,"Java, React, JavaScript","Blockchain, AI"

In [15]:
data['Company']=data['Company']+', '+data['Location']

In [17]:
data.duplicated().sum()

0

In [19]:
data

,Name of Student,Graduation Year,Location,University,Degree,Job Title,Company,Years of Experience,Technical and Non-technical Skills,Areas of Interest
0,Jessica Taylor,2021,Dallas,Stanford University,B.Tech,Business Analyst,"Tesla, Dallas",28,"TensorFlow, Kubernetes, HTML","Data Science, Quantum Computing"
1,Jessica Lewis,2008,Houston,California Institute of Technology,BBA,Consultant,"Facebook, Houston",13,"JavaScript, Keras, Kubernetes","Business Strategy, Quantum Computing"
2,Michael Lewis,2002,Los Angeles,MIT,M.Sc,DevOps Engineer,"Apple, Los Angeles",15,"Java, HTML, C++","Blockchain, Cybersecurity"
3,John Anderson,2013,San Diego,"University of California, Berkeley",PhD,Marketing Manager,"Intel, San Diego",7,"Keras, JavaScript, Docker","Quantum Computing, Cybersecurity"
4,Linda Scott,2016,San Antonio,University of Chicago,B.Sc,Research Scientist,"Google, San Antonio",4,"HTML, Kubernetes, React","IoT, Blockchain"
...,...,...,...,...,...,...,...,...,...,...
995,Robert Clark,2024,Chicago,"University of California, Berkeley",B.Tech,Consultant,"Amazon, Chicago",7,"CSS, Docker, AWS","IoT, Data Science"
996,Bob Lewis,2024,San Diego,MIT,M.Tech,Marketing Manager,"Adobe, San Diego",8,"C++, Django, TensorFlow","Business Strategy, Quantum Computing"
997,Bob Scott,2024,San Antonio,Yale University,MBA,Operations Manager,"Google, San Antonio",27,"CSS, Python, Kubernetes","ML, Data Science"
998,John Lewis,2001,San Antonio,University of Chicago,M.Sc,Research Scientist,"Facebook, San Antonio",17,"Java, HTML, AWS","Blockchain, IoT"
999,Bob Clark,2018,Phoenix,California Institute of Technology,B.Tech,Research Scientist,"IBM, Phoenix",2,"Java, React, JavaScript","Blockchain, AI"

In [21]:
df=data.copy()

In [23]:
df

,Name of Student,Graduation Year,Location,University,Degree,Job Title,Company,Years of Experience,Technical and Non-technical Skills,Areas of Interest
0,Jessica Taylor,2021,Dallas,Stanford University,B.Tech,Business Analyst,"Tesla, Dallas",28,"TensorFlow, Kubernetes, HTML","Data Science, Quantum Computing"
1,Jessica Lewis,2008,Houston,California Institute of Technology,BBA,Consultant,"Facebook, Houston",13,"JavaScript, Keras, Kubernetes","Business Strategy, Quantum Computing"
2,Michael Lewis,2002,Los Angeles,MIT,M.Sc,DevOps Engineer,"Apple, Los Angeles",15,"Java, HTML, C++","Blockchain, Cybersecurity"
3,John Anderson,2013,San Diego,"University of California, Berkeley",PhD,Marketing Manager,"Intel, San Diego",7,"Keras, JavaScript, Docker","Quantum Computing, Cybersecurity"
4,Linda Scott,2016,San Antonio,University of Chicago,B.Sc,Research Scientist,"Google, San Antonio",4,"HTML, Kubernetes, React","IoT, Blockchain"
...,...,...,...,...,...,...,...,...,...,...
995,Robert Clark,2024,Chicago,"University of California, Berkeley",B.Tech,Consultant,"Amazon, Chicago",7,"CSS, Docker, AWS","IoT, Data Science"
996,Bob Lewis,2024,San Diego,MIT,M.Tech,Marketing Manager,"Adobe, San Diego",8,"C++, Django, TensorFlow","Business Strategy, Quantum Computing"
997,Bob Scott,2024,San Antonio,Yale University,MBA,Operations Manager,"Google, San Antonio",27,"CSS, Python, Kubernetes","ML, Data Science"
998,John Lewis,2001,San Antonio,University of Chicago,M.Sc,Research Scientist,"Facebook, San Antonio",17,"Java, HTML, AWS","Blockchain, IoT"
999,Bob Clark,2018,Phoenix,California Institute of Technology,B.Tech,Research Scientist,"IBM, Phoenix",2,"Java, React, JavaScript","Blockchain, AI"

In [25]:
categorical_columns = ['University', 'Degree', 'Job Title', 'Company', 'Technical and Non-technical Skills', 'Areas of Interest']

In [27]:
data_encoded = pd.get_dummies(data, columns=categorical_columns)

In [29]:
categorical_columns

['University',
 'Degree',
 'Job Title',
 'Company',
 'Technical and Non-technical Skills',
 'Areas of Interest']

In [50]:
from sklearn.neighbors import NearestNeighbors
from sklearn.preprocessing import StandardScaler
import pandas as pd

# Assuming your dataset is already cleaned and loaded into 'profile_data'

# Select features for the model (adjust based on relevant columns)
features = ['Graduation Year', 'Years of Experience']  # Select numerical columns

# Scaling the features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(data[features])

# Initialize the KNN model
knn = NearestNeighbors(n_neighbors=5, algorithm='auto', n_jobs=1)  # Limit to 1 thread
knn.fit(X_scaled)

# Function to recommend alumni by university name
def recommend_alumni_by_university(university_name):
    # Filter the dataset for the specified university
    university_data = data[data['University'] == university_name]
    
    if university_data.empty:
        print(f"No alumni found from {university_name}")
        return []

    # Get the features for alumni from that university
    university_features = university_data[features]
    
    # Scale the features
    university_features_scaled = scaler.transform(university_features)

    # Find the nearest neighbors for the university alumni
    distances, indices = knn.kneighbors(university_features_scaled, n_neighbors=5)

    # Get the indices of recommended alumni
    recommended_alumni = data.iloc[indices.flatten()]

    return recommended_alumni[['Name of Student', 'University', 'Job Title', 'Company', 'Technical and Non-technical Skills']]

# Example usage
university_name = 'MIT'
recommended_alumni = recommend_alumni_by_university(university_name)
print("Recommended Alumni from the same university:")
print(recommended_alumni)

Recommended Alumni from the same university:
     Name of Student                          University           Job Title  \
2      Michael Lewis                                 MIT     DevOps Engineer
83        John Scott               University of Chicago          Consultant
254      David Lewis                Princeton University  Operations Manager
303    Jessica Lewis  University of California, Berkeley     Product Manager
444    Michael Brown                  Harvard University     Product Manager
..               ...                                 ...                 ...
996        Bob Lewis                                 MIT   Marketing Manager
546  Michael Johnson          University of Pennsylvania     DevOps Engineer
8      Alice Johnson                  Harvard University      Data Scientist
575    Michael Lewis                                 MIT      Data Scientist
995     Robert Clark  University of California, Berkeley          Consultant

                    Company Technical and Non-technical Skills
2        Apple, Los Angeles                    Java, HTML, C++
83      Facebook, San Diego              CSS, TensorFlow, HTML
254       Netflix, San Jose        Kubernetes, JavaScript, CSS
303        Google, San Jose                    React, AWS, C++
444            IBM, Phoenix            AWS, JavaScript, Python
..                      ...                                ...
996        Adobe, San Diego            C++, Django, TensorFlow
546          Apple, Chicago                Python, Docker, AWS
8    Facebook, Philadelphia                     SQL, AWS, HTML
575      Tesla, Los Angeles                Django, C++, Docker
995         Amazon, Chicago                   CSS, Docker, AWS

[525 rows x 5 columns]

In [36]:
# Example usage
university_name = 'Stanford University'  # Replace with the university you want to search for
recommended_alumni = recommend_alumni_by_university(university_name)

print("Recommended Alumni from the same university:")
print(recommended_alumni)

Recommended Alumni from the same university:
      Name of Student                          University  \
0      Jessica Taylor                 Stanford University
837  Jessica Anderson                Princeton University
215       Emily Smith  California Institute of Technology
842     Linda Johnson                     Yale University
879       Linda Clark          University of Pennsylvania
..                ...                                 ...
984         Bob Clark                 Stanford University
372     Michael Lewis                 Stanford University
129        John Brown                Princeton University
589      David Walker  California Institute of Technology
721       Emily Brown                     Yale University

                Job Title                 Company  \
0        Business Analyst           Tesla, Dallas
837     Marketing Manager          IBM, San Diego
215            Consultant        Amazon, New York
842  Full Stack Developer          Intel, Chicago
879            Consultant  Microsoft, Los Angeles
..                    ...                     ...
984            Consultant        Amazon, San Jose
372      Business Analyst   Facebook, San Antonio
129        Data Scientist        Netflix, Houston
589       Product Manager        Amazon, San Jose
721       Product Manager     Amazon, San Antonio

    Technical and Non-technical Skills
0         TensorFlow, Kubernetes, HTML
837                  HTML, C++, Django
215       TensorFlow, HTML, Kubernetes
842                    React, C++, CSS
879          Python, JavaScript, React
..                                 ...
984                React, Python, Java
372                  Java, Python, Git
129                     HTML, SQL, AWS
589                   Git, Docker, SQL
721                  Java, Docker, SQL

[520 rows x 5 columns]

In [52]:
import pickle

# Save the scaler model
with open('scaler_model.pkl', 'wb') as f:
    pickle.dump(scaler, f)

# Save the KNN model
with open('knn_model.pkl', 'wb') as f:
    pickle.dump(knn, f)

In [42]:
dump(knn, 'knn_model.joblib')
dump(scaler, 'scaler.joblib')

NameError: name 'dump' is not defined

In [ ]:
from joblib import dump, load

In [ ]:
# Example usage
university_name = ''  # Replace with the university you want to search for
recommended_alumni = recommend_alumni_by_university(university_name)

print("Recommended Alumni from the same university:")
print(recommended_alumni)